span {
  font-style: normal;
  color: white;
}

span {
  font-style: normal;
  color: white;
}

span {
  font-style: normal;
  color: white;
}

span {
  font-style: normal;
  color: white;
}

.conteiner {
  font-size: 24;
  background-color: rgb(#4e5754);
}
